<div class="weather-card">
  <p class="weather-card_day-of-week"></p>
  <p class="weather-card_day-number"></p>
  <div class="weather-icon weather-icon-cloudy"></div>
  <p class="weather-card_day-temp"></p>
  <p class="weather-card_night-temp"></p>
  <p class="weather-card_precipitation"></p>
</div>
