.weather-widget{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weather-widget_content{
  display: flex;
}

.weather-widget:first-child{
  margin-right: 0 !important;
}

.control{
  background-image: url('/public/img/control-right.png');
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 100px;
  transition: all 0.2s;
}

.control:hover{
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
}

.control-left{
  transform: rotate(180deg);
}

.control-right{
}

@media (max-width: 320px) {
  .weather-widget_content{
    display: block;
  }

  .control{
    height: 100px;
  }

  .control-left{
    transform: rotate(270deg);
  }

  .control-right{
    transform: rotate(90deg);
  }
}
